<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">会員詳細画面</div>
		<div class="container">
			<table class="userDetail">
				<tr>
					<td class="columnName">メールアドレス</td>
					<td class="value" th:text="${user.email}"></td>
				</tr>
				<tr>
					<td class="columnName">氏名</td>
					<td class="value" th:text="${user.name}"></td>
				</tr>
				<tr>
					<td class="columnName">郵便番号</td>
					<td class="value" th:text="${user.postalCode}"></td>
				</tr>
				<tr>
					<td class="columnName">ご住所</td>
					<td class="value" th:text="${user.address}"></td>
				</tr>
				<tr>
					<td class="columnName">電話番号</td>
					<td class="value" th:text="${user.phoneNumber}"></td>
				</tr>
				<tr>
					<td class="columnName">権限</td>
					<td class="value" th:if="${user.authority == 0}">システム管理者</td>
					<td class="value" th:if="${user.authority == 1}">運用管理者</td>
					<td class="value" th:if="${user.authority == 2}">一般会員</td>
				</tr>
			</table>

			<form th:action="@{/user/list}" class="update">
				<input type="submit" value="戻る" />
			</form>
			<form th:action="@{/user/update/input/admin}" method="post" class="update">
				<input type="hidden" name="id" th:value="${user.id}"  />
				<input type="submit" value="更新" />
			</form>
			<form th:action="@{/user/delete/check/admin}" method="post" th:switch="${user.authority}">
				<input type="hidden" name="id" th:value="${user.id}" />
				<input type="hidden" th:case="0" value="" />
				<input type="submit" th:case="1" value="削除" style="background-color:red;color:white;"/>
				<input type="submit" th:case="2" value="退会" style="background-color:red;color:white;"/>
			</form>
		</div>
	</th:block>
</body>
</html>