<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">カテゴリ削除完了</div>
		<div class="container">
			<p>カテゴリ削除が完了しました。</p>
			<a th:href="@{/category/list}">カテゴリ一覧表示</a>
		</div>
	</th:block>
</body>
</html>