<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_5block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">会員編集完了</div>
		<div class="container">
			<p>会員編集が完了しました。</p>
			<a th:href="@{/user/detail?(id=${userId})}">会員詳細へ戻る</a>
		</div>
	</th:block>
</body>
</html>