<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">会員登録入力</div>

		<div class="container">
			<form method="post" th:action="@{/user/regist/check}"
				th:object="${userForm}">

				<div th:each="error,st:${#fields.detailedErrors()}">
					<span th:if="${error.message == 'このメールアドレスは既に使用されています。'}"
						th:text="${error.message}"></span>
				</div>

				<div class="text">メールアドレス</div>
				<div class="input">
					<input type="text" name="email" th:value="${userForm.email}"
						th:field="*{email}" /> <span th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></span>
				</div>
				<div class="text">パスワード</div>
				<div class="input">
					<input type="password" name="password"
						th:value="${userForm.password}" /> <span
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
				<div class="text">氏名</div>
				<div class="input">
					<input type="text" name="name" th:value="${userForm.name}" /> <span
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div class="text">郵便番号</div>
				<div class="input">
					<input type="text" name="postalCode"
						th:value="${userForm.postalCode}" /> <span
						th:if="${#fields.hasErrors('postalCode')}"
						th:errors="*{postalCode}"></span>
				</div>
				<div class="text">住所</div>
				<div class="input">
					<input type="text" name="address" th:value="${userForm.address}" />
					<span th:if="${#fields.hasErrors('address')}"
						th:errors="*{address}"></span>
				</div>
				<div class="text">電話番号</div>
				<div class="input">
					<input type="text" name="phoneNumber"
						th:value="${userForm.phoneNumber}" /> <span
						th:if="${#fields.hasErrors('phoneNumber')}"
						th:errors="*{phoneNumber}"></span>
				</div>
				<input type="hidden" name="authority" value="2" />
				<div class="input">
					<input type="submit" value="送信" />
				</div>
			</form>
			<form th:action="@{/}" class="update">
				<input type="submit" value="戻る" />
			</form>
		</div>
	</th:block>
</body>
</html>