<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">会員登録確認</div>
		<div class="container">
			<p>以下の内容で登録します。</p>
			<table class="userRegist">
				<tr>
					<td class="columnName">メールアドレス</td>
					<td class="value" th:text="${userForm.email}"></td>
				</tr>
				<tr>
					<td class="columnName">パスワード</td>
					<td class="value">********</td>
				</tr>
				<tr>
					<td class="columnName">氏名</td>
					<td class="value" th:text="${userForm.name}"></td>
				</tr>
				<tr>
					<td class="columnName">郵便番号</td>
					<td class="value" th:text="${userForm.postalCode}"></td>
				</tr>
				<tr>
					<td class="columnName">ご住所</td>
					<td class="value" th:text="${userForm.address}"></td>
				</tr>
				<tr>
					<td class="columnName">電話番号</td>
					<td class="value" th:text="${userForm.phoneNumber}"></td>
				</tr>

			</table>

			<form method="post" th:action="@{/user/regist/complete}" th:object="${userForm}">
				<ul>
					<li th:each="error:${#fields.detailedErrors()}">
						<span th:text="${error.message}"></span>
					</li>
				</ul>
				<input type="hidden" name="email" th:value="${userForm.email}" />
				<input type="hidden" name="password" th:value="${userForm.password}" />
				<input type="hidden" name="name" th:value="${userForm.name}" />
				<input type="hidden" name="postalCode" th:value="${userForm.postalCode}" />
				<input type="hidden" name="address" th:value="${userForm.address}" />
				<input type="hidden" name="phoneNumber" th:value="${userForm.phoneNumber}" />
				<input type="hidden" name="authority" th:value="${userForm.authority}" />
				<div class="input">
					<input type="submit" value="送信" />
				</div>
			</form>
			<form th:action="@{/user/regist/input}" class="update">
				<input type="hidden" name="email" th:value="${userForm.email}" />
				<input type="hidden" name="password" th:value="${userForm.password}" />
				<input type="hidden" name="name" th:value="${userForm.name}" />
				<input type="hidden" name="postalCode" th:value="${userForm.postalCode}" />
				<input type="hidden" name="address" th:value="${userForm.address}" />
				<input type="hidden" name="phoneNumber" th:value="${userForm.phoneNumber}" />
				<input type="hidden" name="authority" th:value="${userForm.authority}" />
				<input type="submit" value="戻る" />
			</form>
		</div>
	</th:block>
</body>
</html>