<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">商品登録入力画面</div>

		<div class="container">
			<p>登録する商品を入力してください。</p>
			<form th:action="@{/item/regist/check}" enctype="multipart/form-data"
				method="post" th:object="${itemForm}">
				<div class="text">商品名</div>
				<div>
					<input type="text" th:field="*{name}" />
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div class="text">価格</div>
				<div>
					<input type="text" th:field="*{price}" />
					<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
				</div>
				<div class="text">説明文</div>
				<div>
					<textarea th:field="*{description}" rows="6"></textarea>
					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
				</div>
				<div class="text">カテゴリ</div>
				<div>
					<select name="categoryId">
						<option th:each="category: ${session.categories}"
							th:value="${category.id}" th:text="${category.name}"
							th:selected="${category.id == itemForm.categoryId}"></option>
					</select>
				</div>
				<div class="text">在庫数</div>
				<div>
					<input type="text" th:field="*{stock}" />
					<span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
				</div>
				<div class="text">商品画像</div>
				<div>
					<input type="file" id="upload_file" name="imageFile" />
				</div>
				<input type="submit" value="次へ" />
			</form>
			<form th:action="@{/item/list/admin}" method="get">
				<input type="submit" value="戻る"/>
			</form>
		</div>
	</th:block>
</body>
</html>