<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<title>amazoom</title>
</head>
<body>
	<!-- ヘッダー -->
	<header>
		<div class="content">
			<div th:replace="common/header :: layout-header"></div>
		</div>
	</header>
	<div class="content">
		<!-- ナビゲーションバー -->
		<nav th:if="${session.user == null or session.user.authority == 2}">
			<div th:replace="common/menu :: layout-menu"></div>
		</nav>
		<!-- サイドバー -->
		<aside>
			<div th:replace="common/sidebar :: layout-sidebar"></div>
		</aside>
		<!-- メイン -->
		<article id="main">
			<div layout:fragment="layout-main"></div>
		</article>
	</div>
	<!-- フッター -->
	<footer>
		<div class="content">
			<div th:replace="common/footer :: layout-footer"></div>
		</div>
	</footer>
</body>
</html>
