<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">お届け先の入力</div>

		<div class="container">
			<form method="post" th:action="@{/order/regist/payment/input}"
				th:object="${addressForm}">

				<div class="text">郵便番号</div>
				<div class="input">
					<input type="text" name="postalCode"
						th:value="${LoginUser.postalCode}" /> <span
						th:if="${#fields.hasErrors('postalCode')}"
						th:errors="*{postalCode}"></span>
				</div>

				<div class="text">住所</div>
				<div class="input">
					<input type="text" name="address" th:value="${LoginUser.address}" />
					<span th:if="${#fields.hasErrors('address')}"
						th:errors="*{address}"></span>
				</div>

				<div class="text">お名前</div>
				<div class="input">
					<input type="text" name="name" th:value="${LoginUser.name}" /> <span
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>

				<div class="text">電話番号</div>
				<div class="input">
					<input type="text" name="phoneNumber"
						th:value="${LoginUser.phoneNumber}" /> <span
						th:if="${#fields.hasErrors('phoneNumber')}"
						th:errors="*{phoneNumber}"></span>
				</div>
				<div class="input">
					<input type="submit" value="送信" />
				</div>
			</form>
			<form th:action="@{/basket/index/1}" class="update">
				<input type="submit" value="戻る" />
			</form>
		</div>
	</th:block>
</body>
</html>