<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout_4block">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block layout:fragment="layout-main">
		<div class="title">商品削除確認画面</div>
		<div class="container">
			<p>以下の内容を削除します。</p>
			<table class="itemDelete">
				<tr>
					<td class="columnName">商品名</td>
					<td class="value" th:text="${item.name}"></td>
				</tr>
				<tr>
					<td class="columnName">価格</td>
					<td class="value" th:text="${item.price}"></td>
				</tr>
				<tr>
					<td class="columnName">説明</td>
					<td class="value" th:text="${item.description}"></td>
				</tr>
				<tr>
					<td class="columnName">カテゴリ</td>
					<td class="value" th:text="${item.categoryName}"></td>
				</tr>
				<tr>
					<td class="columnName">在庫</td>
					<td class="value" th:text="${item.stock}"></td>
				</tr>
				<tr>
					<td class="columnName">商品画像</td>
					<td class="value">
						<img th:src="@{/img/{itemFileName}(itemFileName=${item.image})}" th:if="${item.image != null}"></img>
						<img th:src="@{/img/common/no_image.png}" th:if="${item.image == null}"></img>
					</td>
				</tr>
			</table>
			<form th:action="@{/item/delete/complete}" method="post">
				<input type="hidden" name="id" th:value="${item.id}" />
				<input type="submit" value="削除" />
			</form>
			<form th:action="@{/item/list/admin}">
			    <input type="submit" value="戻る" />
			</form>
		</div>
	</th:block>
</body>
</html>